#main_top {
    margin-bottom: 75px;
    height: 85%;
}

#branding{
  background-image: url("../imgs/title_backer.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

#header {
  height: 70px;
  background-color: #3A3356;
  align-items: center;
  padding-top: 15px;
  padding-left: 75px;
  color: white;
}

#LobbySelect {
  margin-bottom: 75px;
}

#header_text {
  font-size: 50px;
  font-family: 'Righteous', cursive;

}

#lobby_wrap {
  margin-top: 60px;
  padding: 5%;

}

#lobby_list {
}

#promo_text_wrap {
  margin-top: auto;
  padding: 15%;

}

#gamecard-wrap {
  max-height: 300;
  width: 90%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

#card {
  float: left;
  display: inline-block;
}

#cardSelect {
  align-items: center;
}



body {
  font-family: 'Nanum Gothic', sans-serif;

}

.info_card {
  padding: 10%;

}

.game_card {
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

.game_card:hover {
  opacity: .80;
  background-color: #dbd5e3;
}
